.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-gap: 1em;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

header, footer {
  grid-column: 1 / 4;
}

@media all and (max-width: 700px) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  /*max-width: 56em;*/
  padding: 1em 0;
}

header{
    position: sticky;
    top: 0;
    background: #eaeaea;
    height: 150px;
}

.header-content{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}
.logo{
    grid-column: 1;
    justify-self: start;
    height: 100%;
    max-height: 150px;
    width: auto;
    display: flex;
    align-items: center;
}

.logo a {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    object-fit: contain;
    width: auto;
    height: 100%;
}

.header-text {
    grid-column: 2;
    text-align: center; /* Opcjonalnie, jeśli tekst ma być wyśrodkowany */
}

aside,
article,
footer {
  flex-direction: column;
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
}